<div class="container">
  <div class="row">
    <h1>MY Tasks</h1>
  </div>
  <% @tasks.each do |task| %>
  <div class="col-4 flash flash-success alert alert-dismissible fade show"">
      <input type="checkbox" id="task_complete" name="task_complete" value="hello">
    <span><strong><h3><%= task.title %></h3></strong></span>
    <a href="/" data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <% end %>
  </div>
</div>




